* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}

body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class-boton {
    background-color: white;
    padding: 10%;
}