<%- include('cabecera', {titulo: 'Administración'}) -%>
<div class="section">
  <div class="container">
    <br><br>
    <h1 class="header center-align">Administración del sitio</h1>
    <div class="row center-align">
      <h5 class="header col s12">
        Formularios de administración
      </h5>
    </div>
  </div>
</div>
<%- include('pie') -%>
