<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<title><%= titulo %></title>
<!-- Se inserta la hoja de estilo -->
<link rel="stylesheet" href="/stylesheets/material-design-icons.css">
<link rel="stylesheet" href="/stylesheets/materialize.css">
<script src="/javascripts/materialize.js"></script>
</head>
<body>
<!-- Se inserta la cabecera de navegación -->
<nav>
  <div class="nav-wrapper blue lighten-1">
    <a href="/" class="brand-logo left"><i class="material-icons">cottage</i></a>
    <ul id="nav-mobile" class="right">
      <li><a href="/admin">Administración</a></li>
      <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
    </ul>
  </div>
</nav>
