<%- include('cabecera', {titulo: 'Cerrar sesión'}) -%>
<div class="section">
  <div class="container">
    <br><br>
    <h1 class="header center-align">Sesión cerrada</h1>
  </div>
</div>
<%- include('pie') -%>
