<%- include('cabecera') -%>
<h1>Acceso usuarios</h1>
<form method="post" action="/gestion">
    <div>
        <div>
            <label for="username">Usario</label>
        </div>
        <div>
            <input type="text" id="username" name="username" placeholder="usario ...">
        </div>
    </div>
    <div>
        <div>
            <label for="password" name="password">Contraseña</label>
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="contraseña ...">
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Iniciar sesión">
        </div>
    </div>
</form>

<%- include('pie') -%>