<%- include('cabecera') -%>
<h1>Gestión</h1>

<form method="get" action="/borrar">
    Id entrada<br><input type="text" name="titulo" required="required"><br>
    <br><input type="submit" value="Publicar">
</form>

<%- include('pie') -%>