* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
}

body {
    background: linear-gradient(to right, #e66465, #9198e5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 15%;    
}

div {
    margin: 5%;
    text-align: center;
}