body {
    background: linear-gradient(to bottom, #9b21d3, #d30453);
    font-family: 'Courier New', monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 500%;
    color: white;
}