<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.keep.intent.action.CREATE_NOTE" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="www.google.com"
                android:scheme="http" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="com.google.android.gms.actions.CREATE_NOTE" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UT3"
        tools:targetApi="31">
        <activity
            android:name=".PreguntaActivity"
            android:exported="false"
            android:label="@string/title_activity_pregunta"
            android:theme="@style/Theme.UT3" >
           <intent-filter>
             <action android:name="com.ejemplo.ACCION_PREGUNTA" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CicloVidaActivity"
            android:exported="false"
            android:label="@string/title_activity_ciclo_vida"
            android:theme="@style/Theme.UT3" />
        <activity
            android:name=".Actividad_C"
            android:exported="false"
            android:label="@string/title_activity_actividad_c"
            android:theme="@style/Theme.UT3"/>
        <activity
            android:name=".Actividad_B"
            android:exported="false"
            android:label="@string/title_activity_actividad_b"
            android:theme="@style/Theme.UT3" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.UT3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>