<%- include('cabecera', {titulo: 'Aplicación'}) -%>
<div class="section">
  <div class="container">
    <br><br>
    <h1 class="header center-align">Sesión iniciada</h1>
    <div class="row center-align">
      <h5 class="header col s12">
        Informaciones de la sesión iniciada
      </h5>
    </div>
  </div>
</div>
<%- include('pie') -%>
