@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

* {
    font-family: 'JetBrains Mono', 'Trebuchet MS';
}

/** Sección selectores elementos HTML */
body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin: 5px;
    border-radius: 10px;
    border: none;
}

button {
    background-color: white;
    font-size: x-large;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;

    width: 65px;
    height: 60px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: rgba(167, 167, 167, 0.747);
}

img {
    width: 20%;
    height: 20%;
    border-radius: 10px;
    border: none;
    position: relative;
    left: 38%;
}

/** Sección selectores clases HTML */

.box-calculadora {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.contenedor-botones, .contenedor-operadores {
    background-color: #ff7b00;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.4);
    height: fit-content;
    width: fit-content;
}

input[type="text"] {
    text-align: center;
}

/** Sección selectores IDs HTML. 
 * Se usan ID's para estos elementos porque luego se aprovecha en los script .js
 * */

 #caja-superior {
    background-color: rgba(0, 0, 0, 0.281);
    font-size: x-large;
}

#caja-superior * {
    display: flex;
    justify-content: center;
    align-items: center;
}

#caja-inferior, #casilla-resultado {
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.4);
}

#casilla-resultado {
    padding: 3%;
    font-style: bold;
    font-size: xx-large;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(7, 231, 82);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: inherit;
    position: relative;
    left: 13%;
}

#casilla-resultado:hover {
    cursor: text;
}

#caja-inferior {
    background-color: #ffa600;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

#caja-inferior {
    width: inherit;
    position: relative;
    left: 15%;
}

#caja-superior, #casilla-resultado, #caja-inferior {
    margin-top: 20px;
}