* { color: blue; background-color: #CFC; }
h2 { color: #A00; font-size: 24px; } 
h1 { color: red; }
h1, h2 { font-family: Georgia, Cambria, serif; }
body { background-color: rgba(12, 255, 12, 151, 0.3); }
.campos { color: #060; }
.resaltado { font-size: 20px; font-weight: bold; }
.resaltado1{ background-color: black; color: white; font-style: italic; }
